/* CDN Fonts */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.min.css');
@import url('https://fonts.cdnfonts.com/css/gloock-2');

/* CSS Variables */
:root {
  --font-ko-main: 'Pretendard', sans-serif;
  --font-en-main: 'Gloock', sans-serif;
  --color-primary: #FFFDF5;
  --color-secondary: #364C84;
}